In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3

In [3]:

# Read the CSV files into DataFrames
freight_df = pd.read_csv('../raw_data/Major_Freight_Users.csv')
traffic_df = pd.read_csv('../raw_data/Major_Traffic_Generators.csv')

In [4]:
#show the first few rows of the DataFrame
freight_df.head()

,OBJECTID,KBIF ID,Facility Name,Facility Street Address,City Name,State,Zip Code,County Name,Area Development District,NAICS Code,...,End Active Date,GlobalID,last_edited_date,created_user,created_date,last_edited_user,MP,RT_NUMBER,x,y
0,1,1522,Corning Incorporated,680 East Office St,Harrodsburg,KY,40330-1300,Mercer,BGADD,327211,...,NaN,e4f57a55-65d1-4385-a45f-77e50ec6e2df,6/30/2021 12:00:00 AM,NaN,NaN,EMILY.BARTEE,NaN,NaN,-9.443214e+06,4.545184e+06
1,2,4164,"FIAT Products, LLC",706 Highway 3057,Somerset,KY,42501-3302,Pulaski,LCADD,326191,...,NaN,32c75322-da75-4ef2-8676-2e7bd48ecd03,6/28/2024 12:00:00 AM,NaN,NaN,EMILY.BARTEE,NaN,NaN,-9.417573e+06,4.446790e+06
2,3,2169,Omico Plastics Inc,2025 Ragu Drive,Owensboro,KY,42303-,Daviess,GRADD,326199,...,NaN,52970649-d6fc-49d3-ae6f-890778bdbc4b,6/23/2022 12:00:00 AM,NaN,NaN,EMILY.BARTEE,NaN,NaN,-9.693001e+06,4.546117e+06
3,4,0,UNKNOWN,811 RAVEN AVE,BOWLING GREEN,KY,42101,Warren,BRADD,,...,NaN,696903f3-df9c-4e6a-9fe8-847edd303505,9/8/2021 12:00:00 AM,NaN,NaN,EMILY.BARTEE,NaN,NaN,-9.623290e+06,4.440055e+06
4,5,244318100,Sister Schubert's Homemade Rolls Inc,900 Top Quality Drive,Horse Cave,KY,42749-,Hart,BRADD,"311812, 493120",...,NaN,474ce242-fb81-43c4-9a4c-8c710dcc4d79,6/2/2020 12:00:00 AM,NaN,NaN,EMILY.BARTEE,NaN,NaN,-9.564086e+06,4.461565e+06

In [5]:
#show the first few rows of the DataFrame
traffic_df.head()

,OBJECTID,Facility Name,Facility Street Address,City Name,State,ZIP Code,County Name,Facility Description,Facility SQ Feet,Number of Employees,...,Update Indicator,End Active Date,GUID_Str,Last Edited Date,GlobalID,created_user,created_date,last_edited_user,x,y
0,1,Taylor County Hospital,1700 Old Lebanon Rd,Campbellsville,KY,42718,Taylor,Hospital,NaN,50.0,...,2,NaN,{F9331DB3-A9F7-40D1-8BE4-002E737AB0B6},9/25/2024 12:00:00 AM,cf32d3d3-1070-49db-8d43-fb48a591ca89,NaN,NaN,NaN,-9.499667e+06,4.490203e+06
1,2,FedEx Freight,5501 Burnt Pine Way,Louisville,KY,40228,Jefferson,Logistics,150000.0,90.0,...,2,NaN,{D57C4479-3E9C-4EBB-93F5-0035FBBFAFD9},8/30/2023 12:00:00 AM,9b84814a-525c-4159-a9e4-191ba9ce183f,NaN,NaN,NaN,-9.533609e+06,4.604194e+06
2,3,Cyrus One Data Center,7200 Industrial Rd,Florence,KY,41042,Boone,,NaN,NaN,...,2,NaN,{E23BC34C-CA27-40B7-9901-0066BC29D108},10/11/2024 12:00:00 AM,73337b68-b8f6-4c96-b22c-91a2623dee58,NaN,NaN,NaN,-9.419702e+06,4.718999e+06
3,4,Second Baptist Church,217 W Depot St,Greenville,KY,42345,Muhlenberg,Church,62152.0,NaN,...,2,NaN,{0E2394DC-184F-4D04-81AE-006707B0B8C1},8/24/2023 12:00:00 AM,69501dc3-5517-486f-a753-6891effdecf8,NaN,NaN,NaN,-9.705271e+06,4.468916e+06
4,5,Todd County Central High,US-181 S,Elkton,KY,42220,Todd,School,103698.0,NaN,...,2,NaN,{F2CFDD4D-9FE9-4B1C-984A-007E93F5224E},8/24/2023 12:00:00 AM,73218952-bacb-4fc8-bfb4-7ce783a06fb3,NaN,NaN,NaN,-9.702753e+06,4.410934e+06

In [6]:
#information about the DataFrame
freight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 44 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   OBJECTID                        1971 non-null   int64
 1   KBIF ID                         1971 non-null   int64
 2   Facility Name                   1971 non-null   object
 3   Facility Street Address         1971 non-null   object
 4   City Name                       1971 non-null   object
 5   State                           1971 non-null   object
 6   Zip Code                        1971 non-null   object
 7   County Name                     1971 non-null   object
 8   Area Development District       1971 non-null   object
 9   NAICS Code                      1961 non-null   object
 10  Building Sq Footage             1971 non-null   int64
 11  Number of Employees             1971 non-null   int64
 12  Average Trucks per Day          1971 non-null   int64
 13  Truck Bays                      1971 non-null   int64
 14  Average Trains Week             1971 non-null   int64
 15  Facility Length of Rail         1971 non-null   int64
 16  Number of Rail Doors            1971 non-null   int64
 17  Prior CHAF ID                   1574 non-null   object
 18  Completed CHAF ID               1971 non-null   object
 19  Existing CHAF ID                1971 non-null   object
 20  Intermodal Connector Needs      1971 non-null   object
 21  Comments                        1952 non-null   object
 22  Meets Criteria                  1971 non-null   object
 23  Area Development District Name  1971 non-null   object
 24  County Number                   1971 non-null   int64
 25  District Number                 1971 non-null   int64
 26  District Name                   1971 non-null   object
 27  RT Unique                       0 non-null      float64
 28  Road Name                       0 non-null      float64
 29  Route Prefix                    0 non-null      float64
 30  Route Suffix                    0 non-null      float64
 31  Route Label                     0 non-null      float64
 32  Update Indicator                1971 non-null   int64
 33  GUID_Str                        1971 non-null   object
 34  End Active Date                 0 non-null      float64
 35  GlobalID                        1971 non-null   object
 36  last_edited_date                1971 non-null   object
 37  created_user                    0 non-null      float64
 38  created_date                    0 non-null      float64
 39  last_edited_user                1971 non-null   object
 40  MP                              0 non-null      float64
 41  RT_NUMBER                       0 non-null      float64
 42  x                               1971 non-null   float64
 43  y                               1971 non-null   float64
dtypes: float64(12), int64(12), object(20)
memory usage: 677.7+ KB

In [7]:
#information about the DataFrame
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4569 entries, 0 to 4568
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   OBJECTID                        4569 non-null   int64
 1   Facility Name                   4569 non-null   object
 2   Facility Street Address         4569 non-null   object
 3   City Name                       4569 non-null   object
 4   State                           4569 non-null   object
 5   ZIP Code                        4569 non-null   object
 6   County Name                     4569 non-null   object
 7   Facility Description            4569 non-null   object
 8   Facility SQ Feet                1689 non-null   float64
 9   Number of Employees             796 non-null    float64
 10  Average Trucks per Day          4569 non-null   int64
 11  Truck Bays                      4569 non-null   int64
 12  Average Trains per Week         4569 non-null   int64
 13  Number of Rail Doors            4569 non-null   int64
 14  Facility Length of Rail         4569 non-null   int64
 15  Web URL                         4569 non-null   object
 16  Comments                        4569 non-null   object
 17  Prior CHIF ID                   0 non-null      float64
 18  Completed CHIF ID               0 non-null      float64
 19  Existing CHAF ID                0 non-null      float64
 20  District Number                 4569 non-null   int64
 21  District Name                   4569 non-null   object
 22  Area Development District       4569 non-null   object
 23  Area Development District Name  4569 non-null   object
 24  County Number                   4569 non-null   int64
 25  Milepoint                       0 non-null      float64
 26  Road Name                       0 non-null      float64
 27  Route Prefix                    0 non-null      float64
 28  Route Number                    0 non-null      float64
 29  Route Label                     0 non-null      float64
 30  RT Unique                       0 non-null      float64
 31  Update Indicator                4569 non-null   int64
 32  End Active Date                 0 non-null      float64
 33  GUID_Str                        4569 non-null   object
 34  Last Edited Date                4569 non-null   object
 35  GlobalID                        4569 non-null   object
 36  created_user                    0 non-null      float64
 37  created_date                    0 non-null      float64
 38  last_edited_user                0 non-null      float64
 39  x                               4569 non-null   float64
 40  y                               4569 non-null   float64
dtypes: float64(17), int64(9), object(15)
memory usage: 1.4+ MB

In [8]:
#show the summary statistics of the DataFrame
freight_df.describe()

,OBJECTID,KBIF ID,Building Sq Footage,Number of Employees,Average Trucks per Day,Truck Bays,Average Trains Week,Facility Length of Rail,Number of Rail Doors,County Number,...,Route Suffix,Route Label,Update Indicator,End Active Date,created_user,created_date,MP,RT_NUMBER,x,y
count,1971.00000,1.971000e+03,1.971000e+03,1971.000000,1971.000000,1971.000000,1971.000000,1971.000000,1971.000000,1971.000000,...,0.0,0.0,1971.0,0.0,0.0,0.0,0.0,0.0,1.971000e+03,1.971000e+03
mean,986.00000,6.764963e+07,2.389283e+05,165.424658,33.143075,19.493151,3.122273,259.718924,0.254693,50.782344,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-9.508469e+06,4.587371e+06
std,569.12301,1.624747e+08,4.986740e+05,439.587803,73.669290,34.666201,91.841901,1694.043626,1.892296,32.365878,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.215144e+05,9.568393e+04
min,1.00000,0.000000e+00,3.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-9.930879e+06,4.373249e+06
25%,493.50000,0.000000e+00,7.662250e+04,0.000000,8.000000,6.000000,0.000000,0.000000,0.000000,24.000000,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-9.554158e+06,4.534981e+06
50%,986.00000,1.642000e+03,1.418920e+05,59.000000,18.000000,11.000000,0.000000,0.000000,0.000000,56.000000,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-9.519118e+06,4.600606e+06
75%,1478.50000,7.306500e+03,2.500000e+05,165.000000,39.000000,21.000000,0.000000,0.000000,0.000000,63.000000,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-9.420047e+06,4.620298e+06
max,1971.00000,6.832346e+08,1.277395e+07,8500.000000,2500.000000,1000.000000,4000.000000,45000.000000,48.000000,120.000000,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-9.172870e+06,4.738333e+06

In [9]:
#show the summary statistics of the DataFrame
traffic_df.describe()

,OBJECTID,Facility SQ Feet,Number of Employees,Average Trucks per Day,Truck Bays,Average Trains per Week,Number of Rail Doors,Facility Length of Rail,Prior CHIF ID,Completed CHIF ID,...,Route Number,Route Label,RT Unique,Update Indicator,End Active Date,created_user,created_date,last_edited_user,x,y
count,4569.00000,1.689000e+03,796.000000,4569.000000,4569.000000,4569.000000,4569.000000,4569.000000,0.0,0.0,...,0.0,0.0,0.0,4569.0,0.0,0.0,0.0,0.0,4.569000e+03,4.569000e+03
mean,2285.00000,2.168867e+06,951.288945,3.910265,3.151455,0.917706,0.039396,39.228496,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,-9.485204e+06,4.559648e+06
std,1319.10102,4.812638e+07,11367.274507,20.536708,13.745396,59.182376,0.715556,483.024056,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.461996e+05,9.661141e+04
min,1.00000,3.480000e+02,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,-9.924762e+06,4.370124e+06
25%,1143.00000,3.900000e+04,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,-9.565238e+06,4.480117e+06
50%,2285.00000,1.030000e+05,78.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,-9.444717e+06,4.559518e+06
75%,3427.00000,2.500000e+05,175.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,-9.402970e+06,4.612122e+06
max,4569.00000,1.923530e+09,227800.000000,520.000000,260.000000,4000.000000,35.000000,15000.000000,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,-9.136321e+06,4.738441e+06

In [10]:
#number of rows and columns
print("Freight DF shape:", freight_df.shape)
print("Traffic DF shape:", traffic_df.shape)

Freight DF shape: (1971, 44)
Traffic DF shape: (4569, 41)

In [11]:
# shows the data types and column names of the DataFrame
print(freight_df.dtypes)

OBJECTID                            int64
KBIF ID                             int64
Facility Name                      object
Facility Street Address            object
City Name                          object
State                              object
Zip Code                           object
County Name                        object
Area Development District          object
NAICS Code                         object
Building Sq Footage                 int64
Number of Employees                 int64
Average Trucks per Day              int64
Truck Bays                          int64
Average Trains Week                 int64
Facility Length of Rail             int64
Number of Rail Doors                int64
Prior CHAF ID                      object
Completed CHAF ID                  object
Existing CHAF ID                   object
Intermodal Connector Needs         object
Comments                           object
Meets Criteria                     object
Area Development District Name     object
County Number                       int64
District Number                     int64
District Name                      object
RT Unique                         float64
Road Name                         float64
Route Prefix                      float64
Route Suffix                      float64
Route Label                       float64
Update Indicator                    int64
GUID_Str                           object
End Active Date                   float64
GlobalID                           object
last_edited_date                   object
created_user                      float64
created_date                      float64
last_edited_user                   object
MP                                float64
RT_NUMBER                         float64
x                                 float64
y                                 float64
dtype: object

In [12]:
# shows the data types and column names of the DataFrame
print(traffic_df.dtypes)

OBJECTID                            int64
Facility Name                      object
Facility Street Address            object
City Name                          object
State                              object
ZIP Code                           object
County Name                        object
Facility Description               object
Facility SQ Feet                  float64
Number of Employees               float64
Average Trucks per Day              int64
Truck Bays                          int64
Average Trains per Week             int64
Number of Rail Doors                int64
Facility Length of Rail             int64
Web URL                            object
Comments                           object
Prior CHIF ID                     float64
Completed CHIF ID                 float64
Existing CHAF ID                  float64
District Number                     int64
District Name                      object
Area Development District          object
Area Development District Name     object
County Number                       int64
Milepoint                         float64
Road Name                         float64
Route Prefix                      float64
Route Number                      float64
Route Label                       float64
RT Unique                         float64
Update Indicator                    int64
End Active Date                   float64
GUID_Str                           object
Last Edited Date                   object
GlobalID                           object
created_user                      float64
created_date                      float64
last_edited_user                  float64
x                                 float64
y                                 float64
dtype: object

In [13]:
# Check for missing values
print("Missing values in Freight DF:")
print(freight_df.isnull().sum())

Missing values in Freight DF:
OBJECTID                             0
KBIF ID                              0
Facility Name                        0
Facility Street Address              0
City Name                            0
State                                0
Zip Code                             0
County Name                          0
Area Development District            0
NAICS Code                          10
Building Sq Footage                  0
Number of Employees                  0
Average Trucks per Day               0
Truck Bays                           0
Average Trains Week                  0
Facility Length of Rail              0
Number of Rail Doors                 0
Prior CHAF ID                      397
Completed CHAF ID                    0
Existing CHAF ID                     0
Intermodal Connector Needs           0
Comments                            19
Meets Criteria                       0
Area Development District Name       0
County Number                        0
District Number                      0
District Name                        0
RT Unique                         1971
Road Name                         1971
Route Prefix                      1971
Route Suffix                      1971
Route Label                       1971
Update Indicator                     0
GUID_Str                             0
End Active Date                   1971
GlobalID                             0
last_edited_date                     0
created_user                      1971
created_date                      1971
last_edited_user                     0
MP                                1971
RT_NUMBER                         1971
x                                    0
y                                    0
dtype: int64

In [14]:
# Check for missing values
print("Missing values in Traffic DF:")
print(traffic_df.isnull().sum())

Missing values in Traffic DF:
OBJECTID                             0
Facility Name                        0
Facility Street Address              0
City Name                            0
State                                0
ZIP Code                             0
County Name                          0
Facility Description                 0
Facility SQ Feet                  2880
Number of Employees               3773
Average Trucks per Day               0
Truck Bays                           0
Average Trains per Week              0
Number of Rail Doors                 0
Facility Length of Rail              0
Web URL                              0
Comments                             0
Prior CHIF ID                     4569
Completed CHIF ID                 4569
Existing CHAF ID                  4569
District Number                      0
District Name                        0
Area Development District            0
Area Development District Name       0
County Number                        0
Milepoint                         4569
Road Name                         4569
Route Prefix                      4569
Route Number                      4569
Route Label                       4569
RT Unique                         4569
Update Indicator                     0
End Active Date                   4569
GUID_Str                             0
Last Edited Date                     0
GlobalID                             0
created_user                      4569
created_date                      4569
last_edited_user                  4569
x                                    0
y                                    0
dtype: int64

In [ ]:
# convert all column names to lowercase to make easier to work with
traffic_df.columns = traffic_df.columns.str.lower()
# replace spaces with underscores to make easier to work with
traffic_df.columns = traffic_df.columns.str.replace(' ', '_')

In [73]:
# A list of columns to remove from the traffic_df DataFrame
remove_columns_traffic_df = [
    'last_edited_user',
    'created_date',
    'created_user',
    'last_edited_date',
    'end_active_date',
    'update_indicator',
    'rt_unique',
    'route_label',
    'route_number',
    'route_prefix',
    'road_name',
    'milepoint',
    'existing_chaf_id',
    'completed_chif_id',
    'prior_chif_id',
    'comments',
    'facility_length_of_rail',
    'number_of_rail_doors',
    'average_trains_per_week',
    'number_of_employees',
    'facility_sq_feet',
    'objectid'


]
#drops columns listed in reomove_columns_traffic_df from traffic_df
traffic_df_cleaned = traffic_df.drop(columns=remove_columns_traffic_df)

In [75]:
# I did this to check what were in the columns when deciding which to drop used the same line of code and just changed the column name
print(traffic_df['zip_code'].head())

0    42718
1    40228
2    41042
3    42345
4    42220
Name: zip_code, dtype: object

In [19]:
# Check for missing values
print("Missing values in Freight DF:")
print(freight_df.isnull().sum())

Missing values in Freight DF:
OBJECTID                             0
KBIF ID                              0
Facility Name                        0
Facility Street Address              0
City Name                            0
State                                0
Zip Code                             0
County Name                          0
Area Development District            0
NAICS Code                          10
Building Sq Footage                  0
Number of Employees                  0
Average Trucks per Day               0
Truck Bays                           0
Average Trains Week                  0
Facility Length of Rail              0
Number of Rail Doors                 0
Prior CHAF ID                      397
Completed CHAF ID                    0
Existing CHAF ID                     0
Intermodal Connector Needs           0
Comments                            19
Meets Criteria                       0
Area Development District Name       0
County Number                        0
District Number                      0
District Name                        0
RT Unique                         1971
Road Name                         1971
Route Prefix                      1971
Route Suffix                      1971
Route Label                       1971
Update Indicator                     0
GUID_Str                             0
End Active Date                   1971
GlobalID                             0
last_edited_date                     0
created_user                      1971
created_date                      1971
last_edited_user                     0
MP                                1971
RT_NUMBER                         1971
x                                    0
y                                    0
dtype: int64

In [76]:
# convert all column names to lowercase to make easier to work with
freight_df.columns = freight_df.columns.str.lower()
# replace spaces with underscores to make easier to work with
freight_df.columns = freight_df.columns.str.replace(' ', '_')
# renamed zip_code_ to zip_code to match traffic_df
freight_df.rename(columns={'zip_code_': 'zip_code'}, inplace=True)

In [77]:
# A list of columns to remove from the freight_df DataFrame
remove_columns_freight_df = [
    'rt_number',
    'mp',
    'created_date',
    'last_edited_user',
    'created_user',
    'last_edited_date',
    'end_active_date',
    'update_indicator',
    'route_label',
    'route_suffix',
    'route_prefix',
    'road_name',
    'rt_unique',
    'comments',
    'intermodal_connector_needs',
    'existing_chaf_id',
    'completed_chaf_id',
    'prior_chaf_id',
    'number_of_rail_doors',
    'facility_length_of_rail',
    'average_trains_week',
    'objectid'
    ]
#drops columns listed in reomove_columns_freight_df from freight_df
freight_df_cleaned = freight_df.drop(columns=remove_columns_freight_df)

In [50]:
# I did this to check what were in the columns when deciding which to drop used the same line of code and just changed the column name
print(freight_df['objectid'].head())

0    1
1    2
2    3
3    4
4    5
Name: objectid, dtype: int64

In [ ]:
# printing the column names of the cleaned traffic_df to see what is left and to prepare for merging
print(traffic_df_cleaned.columns)

Index(['facility_name', 'facility_street_address', 'city_name', 'state',
       'zip_code', 'county_name', 'facility_description',
       'average_trucks_per_day', 'truck_bays', 'web_url', 'district_number',
       'district_name', 'area_development_district',
       'area_development_district_name', 'county_number', 'guid_str',
       'globalid', 'x', 'y'],
      dtype='object')

In [ ]:
# printing the column names of the cleaned freight_df to see what is left and to prepare for merging
print(freight_df_cleaned.columns)

Index(['kbif_id', 'facility_name', 'facility_street_address', 'city_name',
       'state', 'zip_code', 'county_name', 'area_development_district',
       'naics_code', 'building_sq_footage', 'number_of_employees',
       'average_trucks_per_day', 'truck_bays', 'meets_criteria',
       'area_development_district_name', 'county_number', 'district_number',
       'district_name', 'guid_str', 'globalid', 'x', 'y'],
      dtype='object')